/laskarit/viikko2/unicafe/__pycache__
/laskarit/viikko2/unicafe/.pytest_cache
/laskarit/viikko2/unicafe/.coverage
/laskarit/viikko2/unicafe/htmlcov
/htmlcov
/src/__pycache__
/src/.pytest_cache
/src/tests/__pycache__
/src/repositories/__pycache__
/src/services/__pycache__
/src/ui/__pycache__
/.coverage
/pytest_cache
/.vscode
/src/pycache
/tkinter
.coverage
.pytest_cache
__pycache__
